* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 40em;
    height: 40em;
    border-radius: 50%;
    margin: 0 auto;
    background-color: yellow;
    position: absolute;
    display: block;
    z-index: -4;
    border: 5px solid red;
    padding: 19px 0

}

.head {
    position: absolute;
    width: 20em;
    height: 20em;
    border-radius: 40%;
    background-color: #EBB790;
    margin-left: 25%;
    margin-top: 10%;
}

.chin {
    width: 5em;
    height: 4em;
    border-radius: 49%;
    background-color: #EBB790;
    margin-top: 83%;
    margin-left: 37%;
    position: relative;
    z-index: -1;
}

.hair {
    z-index: -3;
    position: absolute;
    top: -14%;
    left: -12%;
    width: 25em;
    height: 27em;
    border-radius: 181px 181px 0 0;
    background: #424B54;
}

.fringe {
    position: relative;
    top: -98%;
    left: 2%;
    width: 10em;
    height: 7em;
    background: #424B54;
    border-radius: 0 0 155px 100px;
    transform: rotate(30deg);
}

.fringe_right {
    position: relative;
    top: -141%;
    left: 24%;
    width: 14em;
    height: 8em;
    background: #424B54;
    border-radius: 0 0 141px 100px;
    transform: rotate(12deg);
}

.fringe:before {
    content: '';
    display: block;
    position: relative;
    top: 296%;
    left: 87%;
    width: 10em;
    height: 7em;
    background: #424B54;
    border-radius: 0 0 107px 100px;
    transform: rotate(-29deg);
}

.fringe:after {
    content: '';
    display: block;
    position: relative;
    top: 84%;
    left: 215%;
    width: 10em;
    height: 7em;
    background: #424B54;
    border-radius: 0 0 107px 100px;
    transform: rotate(-31deg);
}

.eye_left {
    width: 4em;
    height: 4em;
    border-top: solid 2px #000;
    border-left: solid 5px #000;
    background-color: white;
    border-radius: 75% 15%;
    position: relative;
    transform: rotate(57deg);
    margin-top: -452px;
    margin-left: 60px;
}

.eye_left:before {
    content: '';
    display: block;
    position: relative;
    width: 47px;
    height: 47px;
    border: solid 1px #000;
    background: radial-gradient(circle at 50% 120%, #81e8f6, #76deef 27%, #055194 231%, #062745 100%);
    border-radius: 50%;
    left: 8px;
    top: 4px;
}

.eye_left:after {
    content: '';
    display: block;
    position: relative;
    width: 25px;
    height: 25px;
    border: solid 1px #000;
    background-color: #000;
    border-radius: 50%;
    left: 19px;
    top: -35px;
}

.reflection_left {
    position: relative;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: white;
    margin-top: -14%;
    margin-left: 24%;
}

.eye_right {
    width: 4em;
    height: 4em;
    border-right: solid 2px #000;
    border-bottom: solid 5px #000;
    background-color: white;
    border-radius: 75% 15%;
    position: relative;
    transform: rotate(214deg);
    margin-top: -35px;
    margin-left: 195px;
}

.eye_right:before {
    content: '';
    display: block;
    position: relative;
    width: 47px;
    height: 47px;
    border: solid 1px #000;
    background: radial-gradient(circle at 50% 120%, #81e8f6, #76deef 27%, #055194 231%, #062745 100%);
    border-radius: 50%;
    left: 9px;
    top: 4px;
}

.eye_right:after {
    content: '';
    display: block;
    position: relative;
    width: 25px;
    height: 25px;
    border: solid 1px #000;
    background-color: #000;
    border-radius: 50%;
    left: 20px;
    top: -34px;
}

.reflection_right {
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin-top: -15%;
    margin-left: 71.5%;
    position: relative;
    background-color: white;
}

.nose {
    position: relative;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 18px solid transparent;
    border-bottom: 36px solid #DDA782;
    border-radius: 35%;
    margin-left: 145px;
    margin-top: 42px;
}

.blush_left {
    position: relative;
    top: -10%;
    left: 11%;
    width: 4.5em;
    height: 2.5em;
    background: #EBA295;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    opacity: 0.4;
    transform: rotate(18deg);
}

.blush_right {
    position: relative;
    top: -23%;
    left: 67%;
    width: 4.5em;
    height: 2.5em;
    background: #EBA295;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    opacity: 0.4;
    transform: rotate(-14deg);
}

.mouth_top {
    position: relative;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 8.3px solid #E5575F;
    -webkit-border-radius: 100px;
    border-radius: 25px;
    height: 2em;
    width: 4em;
    margin: -58px auto 0;
    z-index: 2;
}

.teeth {
    position: relative;
    padding: 0;
    margin-left: 132px;
    margin-top: -7px;
    height: 0.88em;
    width: 3.5em;
    border-radius: 50%;
    -webkit-border-radius: 100px;
    background-color: white;
}

.mouth_bot {
    position: relative;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 8.5px solid #E5575F;
    -webkit-border-radius: 100px;
    border-radius: 30px;
    height: 4em;
    width: 4em;
    margin: -55px auto 0;
    z-index: 2;
}

.neck {
    z-index: -2;
    position: relative;
    width: 3em;
    height: 6em;
    background: #E1AB83;
    top: -6%;
    left: 42%;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
}

.body {
    position: relative;
    top: -18%;
    left: 13%;
    width: 15em;
    height: 13em;
    background: #D6E0E1;
    border-radius: 100px;
    -webkit-border-radius: 110px;
    -moz-border-radius: 100px;
}

.body:after {
    content: '';
    display: block;
    position: relative;
    top: -51%;
    left: 112px;
    width: 8em;
    height: 9em;
    background: #D6E0E1;
    border-radius: 100px;
    -webkit-border-radius: 46px;
    -moz-border-radius: 100px;
    z-index: 2;
}

.body:before {
    content: '';
    display: block;
    position: relative;
    top: 20%;
    left: 1px;
    width: 8em;
    height: 10em;
    background: #D6E0E1;
    border-radius: 100px;
    -webkit-border-radius: 46px;
    -moz-border-radius: 100px;
    z-index: 2;
}

.body_correct {
    position: relative;
    margin-top: -66%;
    margin-left: 39%;
    width: 10em;
    height: 9em;
}

.body_correct1 {
    content: '';
    display: block;
    position: relative;
    margin-top: -44.5%;
    margin-left: 14%;
    width: 10em;
    height: 9em;
}

.body_correct, .body_correct1 {
    background: #D6E0E1;
    border-radius: 100px;
    -webkit-border-radius: 71px;
    -moz-border-radius: 100px;
    z-index: 2;
    transform: rotate(-57deg);
}

/*Responsive*/

@media screen and (max-width: 650px) {
    .container {
        width: 20em;
        height: 20em;
    }

    .head {
        width: 10em;
        height: 10em;
        border-radius: 40%;
        margin-top: 5%;
    }

    .chin {
        width: 2.5em;
        height: 2em;
        border-radius: 49%;
    }

    .eye_left {
        width: 2em;
        height: 2em;
        position: relative;
        margin-top: -225px;
        margin-left: 33px;
    }

    .eye_left:before {
        position: relative;
        width: 20px;
        height: 20px;
        left: 2px;
        top: 4px;
    }

    .eye_left:after {
        position: relative;
        width: 10px;
        height: 10px;
        left: 6px;
        top: -13px;
    }

    .reflection_left {
        position: relative;
        width: 0.4em;
        height: 0.4em;
        margin-top: -14%;
        margin-left: 25%;
    }

    .eye_right {
        width: 2em;
        height: 2em;
        position: relative;
        margin-top: -19px;
        margin-left: 100px;
    }

    .eye_right:before {
        position: relative;
        width: 20px;
        height: 20px;
        left: 4px;
        top: 4px;
    }

    .eye_right:after {
        position: relative;
        width: 10px;
        height: 10px;
        left: 9px;
        top: -13px;
    }

    .reflection_right {
        width: 0.4em;
        height: 0.4em;
        margin-top: -14%;
        margin-left: 74%;
        position: relative;
    }

    .nose {
        position: relative;
        border-left: 5px solid transparent;
        border-right: 9px solid transparent;
        border-bottom: 18px solid #DDA782;
        margin-left: 74px;
        margin-top: 20px;
    }

    .mouth_top {
        border-bottom: 6px solid #E5575F;
        height: 2em;
        width: 2em;
        margin: -44px auto 0;
    }

    .teeth {
        position: relative;
        margin-left: 70px;
        margin-top: -8px;
        height: 0.3em;
        width: 1.1em;

    }

    .mouth_bot {
        border-bottom: 3px solid #E5575F;
        height: 1em;
        width: 2em;
        margin: -21px auto 0;
    }

    .blush_left {
        position: relative;
        top: -10%;
        left: 11%;
        width: 2.5em;
        height: 1.5em;
    }

    .blush_right {
        position: relative;
        top: -26%;
        left: 67%;
        width: 2.5em;
        height: 1.5em;
    }

    .hair {
        z-index: -3;
        position: absolute;
        top: -16%;
        left: -13%;
        width: 12.5em;
        height: 15em;
    }

    .fringe {
        position: relative;
        top: -98%;
        left: 6%;
        width: 4.1em;
        height: 3.5em;

    }

    .fringe_right {
        position: relative;
        top: -140%;
        left: 24%;
        width: 6.5em;
        height: 4em;
    }

    .fringe:before {
        position: relative;
        top: 310%;
        left: 101%;
        width: 5em;
        height: 3.5em
    }

    .fringe:after {
        position: relative;
        top: 100%;
        left: 260%;
        width: 5em;
        height: 3.5em;
    }

    .neck {
        top: -2%;
        position: relative;
        width: 1.5em;
        height: 3em;
    }

    .body {
        position: relative;
        top: -9.5%;
        left: 12%;
        width: 7.5em;
        height: 6.5em;
        -webkit-border-radius: 46px;

    }

    .body:after {
        content: '';
        display: block;
        position: relative;
        top: 3%;
        left: 28px;
        width: 5.5em;
        height: 2em;
    }

    .body:before {
        content: '';
        display: block;
        position: relative;
        top: 37%;
        left: 0;
        width: 7.5em;
        height: 4em;
    }

    .body_correct {
        display: none;
    }

    .body_correct1 {
        display: none;
    }

}